/* Variáveis de cor definidas no documento inteiro */
:root {
    --cor-principal: #68149c;
    --cor-secundaria: #a654d8;
    --cor-escura: #360b50;
    --cor-clara: #c97cff;
}

@font-face {
    font-family: Jersey10;
    src: url(Jersey10-Regular.ttf);
}

/* Corpo */
body {
    background-color: var(--cor-secundaria);
}

header{
    height: clamp(30px, 100px, 20vw);
}
h1 {
    display: flex;
    justify-content: center;
    font-family: Jersey10;
    font-size: 4.5em;
    color: var(--cor-escura);
    text-shadow: 6px 5px var(--cor-principal);
    margin: 0;
}


/* Bloco principal */
#container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: none;
    width: clamp(300px, 700px, 80vw);
    height: clamp(300px, 500px, 60vw);
    border-radius: 15px;

}

/* Cartas */
.carta {
    position: relative;
    width: 22%;
    height: 30%;
    background: none;
    margin: 1% 1%;
}

.frente {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--cor-principal);
    border-radius: 10px;
    background-size: 100%;
}

.verso {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: rgb(252, 252, 249);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
}

#verso1,
#verso3,
#verso6,
#verso8,
#verso9,
#verso11 {
    background-color: var(--cor-escura);
}

#verso2,
#verso4,
#verso5,
#verso7,
#verso10,
#verso12 {
    background-color: var(--cor-principal);
}

#tempo {
    position: absolute;
    padding: px;
    font-size: 2em;
    color: var(--cor-escura);
    font-family: Jersey10;
    font-weight: bold;
}

button {
    padding: 20px;
    font-size: 2em;
    color: var(--cor-clara); 
    font-family: Jersey10;
    background-color: var(--cor-escura);
    border-radius: 20px;
    box-shadow: 5px 5px var(--cor-principal);
    border: solid;
    position: absolute;
}

footer {
    justify-content: center;
    display: flex;
}